/* page default reset for margin and padding */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Page Structure */
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
  }
  
  .nav {
    padding: 20px;
    background: rgb(20, 20, 20);
  }
  
  .footer {
    padding: 0.3em;
    background: rgba(5, 5, 5, 0.8);
    text-align: center;
    border-top: 5px solid rgb(143, 143, 143);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  
  .joe-main {
    background: url('images/point2.png') no-repeat;
    background-position: right bottom;
    margin-right: 50px;
  }

  .mat-main {
    background: url('images/mat.png') no-repeat;
    background-position: right bottom;
    margin-right: 70px;
  }

  /* Navigation Bar */

  ul {
    list-style-type: none;
    text-align: right;
  }
  
  .navigation li {
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .navigation li a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  .navigation li a:hover {
    color: #976e5a
  }
  
  .navigation li:last-child {
    border-right: none;
  }
  
  li.main-page a {
    font-weight: bold;
    color: #976e5a
  }

/* Headings, Paragraphs & Content */

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  text-align: right;
  position: relative;
  margin-right: 30px;
  top: 50px;
}
  
p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-align: left;
}

.text-container {
  height: 450px;
  width: 500px;
  padding: 10px;
  margin-left: 20px;
  position: relative;
  float: left;
}
 
.image-container {
  width: 9em;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
 }

 .matsbiog {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: left;
 }

 .mat-text-container {
  height: 450px;
  width: 500px;
  top: 100px;
  margin-left: 100px;
  padding: 10px;
  position: relative;
  float: left;
}

 .matsimage-container {
  width: 9em;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  }

  .image {
    max-width: 100%;
  }

  .joes-image {
    max-width: 100%;
  }
  
  
  .drift { /* Need to compress video properly */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 65px;
  }

  /* Social Media Icons, linked to my personal accounts */

  .facebook, .twitter, .instagram {
    height: 30px;
    border-radius: 5px;
    margin: 5px 15px;
    position: relative;
    float: right;
  }

  h6 {
    float: left;
    font-size: 10px;
    color: rgb(143, 143, 143);
    text-align: left;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
  }

/* DO A HIDDEN FOOTER CONTAINING A CONTACT FORM */
    
/* Media Queries */
/* Mobile Device */
@media (max-width: 30em) {
  .joe-main, .mat-main {
    flex: 1 0 auto;
  }
}


@media (min-width: 30em) {
  .nav {
    display: block;
  }

  .wrapper {
    flex-direction: row;
  }
  
  .joe-main, .mat-main {
    flex: 1 1 auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .joe-main, .mat-main {
    flex: 1 0 auto;
  }
  .nav {
    display: block;
  }

  .wrapper {
    flex-direction: row;
  }

  .navigation li {
    display: block;
    text-align: center;
  }

  .joe-main {
    background: none;
  }

  .mat-main {
    background: none;
  }

  .footer {
    padding: 0em;
}

  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    text-align: center;
    position: relative;
    margin: auto;
    margin-left: 10px;
    line-height: 1.5em;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: left;
  }

  .matsbiog {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: left;
   }
  
   .mat-text-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-left: 20px;
    position: relative;
    float: left;
    top: 0;
    margin-top: 20px;
  }
  
   .matsimage-container {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 50px;
    align-items: center;
    margin-left: 30px;
    }


  .text-container {
    height: 100%;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin-left: 20px;
    margin-top: 100px;
    position: relative;
  }
  
  .image-container {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 100px;
    align-items: center;
    margin-left: 30px;
  }
  
  .drift { 
    max-width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: -20px;
  }

  .image {
    max-width: 100%;
    margin: 20px 0;
  }

  .joes-image {
    max-width: 80%;
    margin: 20px 0;
  }

  .article {
    display: flex;
    flex-direction: column-reverse;
  }

  h6 {
    visibility: hidden;
   }

  .facebook, .twitter, .instagram {
  height: 30px;
  border-radius: 5px;
  margin: 0 15px;
  top: 20px;
  position: relative;
  float: none;
  }
}
